<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head.ejs') %>

<head>
  <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="/v1Build/assets/images/favicon/favicon.ico">

<!-- Libs CSS -->

<link rel="stylesheet" href="/v1Build/assets/libs/prismjs/themes/prism.css">
<link rel="stylesheet" href="/v1Build/assets/libs/prismjs/plugins/line-numbers/prism-line-numbers.css">
<link rel="stylesheet" href="/v1Build/assets/libs/prismjs/plugins/toolbar/prism-toolbar.css">
<link rel="stylesheet" href="/v1Build/assets/libs/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="/v1Build/assets/libs/dropzone/dist/dropzone.css" >
<link href="/v1Build/assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">

<script>
    function getTopics(){
        const subjectChosen = document.getElementById('subjectname').value;
        if(subjectChosen != '--'){
            window.location.replace("/admin/addquestion/" + subjectChosen);
        }
    }
</script>



<!-- Theme CSS -->
<link rel="stylesheet" href="/v1Build/assets/css/theme.min.css">
  <title>ADMIN Add Question Page</title>

</head>

<body>
  <!-- container -->
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0
        min-vh-100">
      <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
        <!-- Card -->
        <div class="card-header text-center">
          <a href="/" class="h1"><b>Coachers || Admin</b></a>
        </div>

        <div class="card smooth-shadow-md">

         
          <!-- Card body -->
          <div class="card-body p-6">
            
            <!-- Form -->
            <form action="/admin/addquestion" method="POST">
              <!-- Username -->
              <div class="mb-3">
                <label for="Subjectname" class="form-label">Choose Subject Name</label>
                <!-- <input type="text" id="text" class="form-control" name="subjectname" placeholder="subject" required=""> -->

                  <select id="subjectname" name="subjectname" onchange="getTopics()">
                    <option>--</option>
                    <% if(SubjectList.length>0){ %>
                         <% SubjectList.forEach(subject => { %>
                            <% if(chosenSubject != subject.name){   %>
                                <option>
                                    <%= subject.name %>
                                </option>
                            <% }else{   %>
                                <option selected="selected">
                                    <%= subject.name %>
                                </option>
                            <% }    %>
                        
                        <% })   %>
                    <% } %>
                  </select>
                
              </div>

              <div class="mb-3">
                <label for="Topicname" class="form-label">Choose Topic Name</label>
                <!-- <input type="text" id="text" class="form-control" name="subjectname" placeholder="subject" required=""> -->

                  <select id="topicname" name="topicname">
                    <option>--</option>
                    <% if(topicsList.length>0){ %>
                         <% topicsList.forEach(topic => { %>
                            
                            <option>
                                <%= topic.topicName %>
                            </option>
                        
                        <% })   %>
                    <% } %>
                  </select>
                
              </div>
              <div class="mb-3">
                <label for="Subjectname" class="form-label">Question</label>
                <input type="text" id="question" class="form-control" name="question" placeholder="" required="yes">
              </div>

              <div class="mb-3">
                <input type="text" id="optionA" class="form-control" name="optionA" placeholder="A" required="yes">
              </div>

              <div class="mb-3">
                <input type="text" id="optionB" class="form-control" name="optionB" placeholder="B" required="yes">
              </div>

              <div class="mb-3">
                <input type="text" id="optionC" class="form-control" name="optionC" placeholder="C" required="yes">
              </div>

              <div class="mb-3">
                <input type="text" id="optionD" class="form-control" name="optionD" placeholder="D" required="yes">
              </div>

        
              
              <div class="mb-3">
                <label for="" class="form-label">Correct Option</label>
                <!-- <input type="text" id="text" class="form-control" name="subjectname" placeholder="subject" required=""> -->

                  <select id="correctOption" name="correctOption">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                  </select>
                
              </div>

              <!-- Checkbox -->
              <div class="d-lg-flex justify-content-between align-items-center
                  mb-4">
                <!--<div class="form-check custom-checkbox">
                  <input type="checkbox" class="form-check-input" id="rememberme">
                  <label class="form-check-label" for="rememberme">Remember
                      me</label>
                </div>-->

              </div>
              <div>
                <!-- Button -->
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Add
                    </button>
                </div>

                <div class="d-md-flex justify-content-between mt-4">
                  
                  <div>
                    <a href="/admin/dashboard" class="text-inherit
                        fs-5">Home</a>
                  </div>
                  

                </div>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <!-- Libs JS -->
<script src="/v1Build/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/v1Build/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/v1Build/assets/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/v1Build/assets/libs/feather-icons/dist/feather.min.js"></script>
<script src="/v1Build/assets/libs/prismjs/components/prism-core.min.js"></script>
<script src="/v1Build/assets/libs/prismjs/components/prism-markup.min.js"></script>
<script src="/v1Build/assets/libs/prismjs/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script src="/v1Build/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="/v1Build/assets/libs/dropzone/dist/min/dropzone.min.js"></script>










<!-- clipboard -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>



<!-- Theme JS -->
<script src="/v1Build/assets/js/theme.min.js"></script>


<!-- <script src="/adminJS/loadSubjectsList.js"></script> -->

</body>



</html>