<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com/">

  <title>Coachers - Admin</title>

  <link rel="stylesheet" href="/seogram/assets/css/maicons.css">

  <link rel="stylesheet" href="/seogram/assets/css/bootstrap.css">

  <link rel="stylesheet" href="/seogram/assets/vendor/animate/animate.css">

  <link rel="stylesheet" href="/seogram/assets/css/theme.css">


  <script>
      function getTopics(){
        const subjectChosen = document.getElementById("subjectname").value;
        if(subjectChosen != '--'){
          window.location.replace("/admin/topiclist/" + subjectChosen);
        }
      }
  </script>


  <title>View Question</title>
</head>
<body>
  <!-- Back to top button -->
  <div class="back- to-top"></div>

  <%- include('./partials/headerNavBar.ejs') %>

  <div class="page-section" id="about" style="background-color:rgb(216, 220, 221)">
    <div class="container">

      <div class="row align-items-center">
        <div class="x_panel">
          <div class="x_title">
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <br/>
              
              <div class="row">
                  <div class="col-sm-12">
                      <div class="card-box table-responsive">

                          <table id="datatable-responsive"
                              class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
                              width="100%">
                              <thead style="background-color: whitesmoke;">
                                  <tr>
                                      <th>Subject Name</th>
                                      <th>Question</th>
                                      <th>Option one</th>
                                      <th>Option two</th>
                                      <th>Option three</th>
                                      <th>Option four</th>
                                      <th>Correct Answer</th>
                                      <th></th>
                                      
                                  </tr>
                              </thead>
              
                              <tbody>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
        </br>
          </br>
          <div>
            <a href="/admin/dashboard" class="text-inherit
              fs-5">Home</a>
          </div>
        </div>
        
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

  

  <%- include('./partials/footer.ejs') %>


  <script src="/seogram/assets/js/jquery-3.5.1.min.js"></script>

  <script src="/seogram/assets/js/bootstrap.bundle.min.js"></script>
  
  <script src="/seogram/assets/js/google-maps.js"></script>
  
  <script src="/seogram/assets/vendor/wow/wow.min.js"></script>
  
  <script src="/seogram/assets/js/theme.js"></script>
  
  
</body>

</html> 