<head>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="500">
    <div class="container-fluid" style="padding-left: 10%; padding-right: 10%;">
      <a href="#" class="navbar-brand">Coachers<span class="text-primary"></span></a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarContent">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contactus">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reviews">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn btn-primary ml-lg-2" href="/users/login">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="users/register">Register</a>
          </li>
        </ul>
      </div>

    </div>
    </nav>
  
</head>