<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com/">

  <title>COACHERS - HOME </title>

  <link rel="stylesheet" href="../seogram/assets/css/maicons.css">

  <link rel="stylesheet" href="../seogram/assets/css/bootstrap.css">

  <link rel="stylesheet" href="../seogram/assets/vendor/animate/animate.css">

  <link rel="stylesheet" href="../seogram/assets/css/theme.css">

</head>
<body>

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <!-- Header -->
  <%- include('./partials/headerNavbar.ejs') %>
  <!-- header end -->

  <div class="page-section bg-light">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="subhead">Our services</div>
        <h2 class="title-section">What We Offer</h2>
        <div class="divider mx-auto"></div>
      </div>

        <div class="row">
          <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
            <div class="features">
              <div class="header mb-3">
                <span class="mai-book-outline"></span>
              </div>
              <h5>O Level Study Guides</h5>
              <p>We have the Best study guides to help out students ace their O Level Exams</p>
            </div>
          </div>

            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
              <div class="features">
                <div class="header mb-3">
                  <span class="mai-videocam-outline"></span>
                </div>
                <h5>Subject-wise outline videos</h5>
                <p>Each subject has an introductory video to help you decide if that subject is for you</p>
              </div>
            </div>

            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
              <div class="features">
                <div class="header mb-3">
                  <span class="mai-easel-outline"></span>
                </div>
                <h5>Qualified O'level Teachers and Experts</h5>
                <p>The Videos have been created by the best O Level Teachers and Experts. They cover each and every topic in depth.</p>
              </div>
            </div>


            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
              <div class="features">
                <div class="header mb-3">
                  <span class="mai-bar-chart"></span>
                </div>
                <h5>Progress Tracking</h5>
                <p>Our personal UI will track your progress. We keep a record of all the topics you cover.</p>
              </div>
            </div>

            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
              <div class="features">
                <div class="header mb-3">
                  <span class="mai-navigate"></span>
                </div>
                <h5>Navigate through each Syllabus</h5>
                <p>Our program will give suggestions to help you complete your syllabus with in the deadlines you have set.</p>
              </div>
            </div>

            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
              <div class="features">
                <div class="header mb-3">
                  <span class="mai-calendar-outline"></span>
                </div>
                <h5>Personalise your Schedules</h5>
                <p>Create your own schedule around your day to day activities. You can also ask us to create a schedule that will finish your syllabuses by your personalized deadline.</p>
              </div>
            </div>

            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
              <div class="features">
                <div class="header mb-3">
                  <span class="mai-checkmark"></span>
                  <span class="mai-close"></span>
                </div>
                <h5>Tests</h5>
                <p>Multiple Choice style tests after every checkpoint.</p>
              </div>
            </div>

            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
              <div class="features">
                <div class="header mb-3">
                  <span class="mai-server-outline"></span>
                </div>
                <h5>Progress Reviews from Tests</h5>
                <p>We monitor your progress through tests and recommend to topics that you are struggling in</p>
              </div>
            </div>

        </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->

 
  

<%- include('./partials/outerFooter.ejs') %>

<script src="../seogram/assets/js/jquery-3.5.1.min.js"></script>

<script src="../seogram/assets/js/bootstrap.bundle.min.js"></script>

<script src="../seogram/assets/js/google-maps.js"></script>

<script src="../seogram/assets/vendor/wow/wow.min.js"></script>

<script src="../seogram/assets/js/theme.js"></script>
  
</body>
</html>