<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="copyright" content="MACode ID, https://macodeid.com/">

  <title>COACHERS - Dashboard</title>

  <link rel="stylesheet" href="/seogram/assets/css/maicons.css">

  <link rel="stylesheet" href="/seogram/assets/css/bootstrap.css">

  <link rel="stylesheet" href="/seogram/assets/vendor/animate/animate.css">

  <link rel="stylesheet" href="/seogram/assets/css/theme.css">


  <link rel="apple-touch-icon" sizes="76x76" href="/light-boot/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/light-boot/assets/img/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  
  <link href="/light-boot/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/light-boot/assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />


</head>
<body>
  
  <!-- Back to top button -->
  <div class="back-to-top"></div>

    
  <!-- Header -->
  <%- include('./userPartials/headerNavbar.ejs') %>
  <!-- header end -->


  <div style="padding-left: 10%;">
    <h5>
      This is the Course Page for <%= subject %>
    </h5>
  </div>

 <div>
  <div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                Creative Tim
            </a>
        </div>
        <ul class="nav">
            <li>
                <a class="nav-link" href="dashboard.html">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./user.html">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./table.html">
                    <i class="nc-icon nc-notes"></i>
                    <p>Table List</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./typography.html">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Typography</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./icons.html">
                    <i class="nc-icon nc-atom"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./maps.html">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./notifications.html">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="nav-item active active-pro">
                <a class="nav-link active" href="upgrade.html">
                    <i class="nc-icon nc-alien-33"></i>
                    <p>Upgrade to PRO</p>
                </a>
            </li>
        </ul>
    </div>
</div>
</div>
  

  <%- include('./userPartials/footer.ejs') %>

<script src="/seogram/assets/js/jquery-3.5.1.min.js"></script>

<script src="/seogram/assets/js/bootstrap.bundle.min.js"></script>

<script src="/seogram/assets/js/google-maps.js"></script>

<script src="/seogram/assets/vendor/wow/wow.min.js"></script>

<script src="/seogram/assets/js/theme.js"></script>
  
</body>
</html>