<!--class="page-section bg-light"-->
<footer class="page-section bg-light">
  <div class="page-footer bg-image" style="
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../seogram/assets/img/world_pattern.svg);">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-3 py-3">
          <h3>Coachers</h3>
          <p>Your Study Partner</p>
        </div>
      </div>
    </div>
  </div>
</footer>