<head>
    <link rel="stylesheet" href="../seogram/assets/css/maicons.css">

    <link rel="stylesheet" href="../seogram/assets/css/bootstrap.css">

    <link rel="stylesheet" href="../seogram/assets/vendor/animate/animate.css">

    <link rel="stylesheet" href="../seogram/assets/css/theme.css">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="500">
    <div class="container">
      <a href="#" class="navbar-brand">Coachers<span class="text-primary"></span></a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarContent">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href=/users/dashboard >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/searchpage">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/enrolledcourselist">In Progress</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/quizapp">Quiz</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <%= user.name %>   </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                
                <li><a class="dropdown-item" href="userInfoUpdate">User Info</a></li>
                <li><a class="dropdown-item" href="logout">logout</a></li>
              </ul>
            </div>
          </li>
          
        </ul>
      </div>

    </div>
    </nav>
  
</head>